<html>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <body>
        <main>
            <div class="main-container">
                <p class="app-name">
                    TODO App
                    <hr class="line">
                </p>
                <form action="/create-todo" method="POST">
                    <label for="description" class="description-input-label">Description</label>
                    <input type="text" name="description" class="description-input" placeholder="What do you need to do" required>
                    <hr>
                    <div class="catagory-container">
                        <label for="category" class="category-input-label">Category</label>
                        <input list="category" name="category" placeholder="Choose a category" class="category-input" required>
                        <datalist id="category">
                            <option value="Personal">Personal</option>
                            <option value="Work"></option>
                            <option value="School"></option>
                            <option value="Cleaning"></option>
                            <option value="Other"></option>
                        </datalist>
                    </div>
                    <div class="date-conatiner">
                        <label for="date" class="data-container-label">Due Date</label>
                        <input type="date" name="date" class="date-input" required>
                    </div>
                    <hr>
                    <button type="submit" class="add-button">
                        <i class="fas fa-plus"></i>
                        Add Task
                    </button>
                </form>
                <form action="/delete-todo" method="POST">
                    <button class="delete-button">
                        <i class="far fa-trash-alt"></i>
                        Delete Task
                    </button>
                <hr class="dividing-line">

                <% for(let i of todo_list) { %>
                <div class="task-container">
                    <input type="checkbox" name="checkbox" value="<%= i._id %>" class="checkbox-style">
                    <p class="details">
                        <%= i.description %>
                        <br>
                        <span class="break-line"> <br></span>
                        <i class="fas fa-calendar-alt"></i>
                        <span class="date-css"><%= i.date%></span>
                    </p>
                    <div class="category-box">
                        <p>
                            <%= i.category%>
                        </p>
                    </div>
                    <hr>
                </div>
                <% } %>
            </form>
            </div>

        </main>
    </body>
</html>